@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.mySwiper .swiper-pagination {
    position: static;
    margin-top: 1rem;
    text-align: center;
}

.mySwiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: black;
    opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #EB1F50;
}

::selection {
    background: #EB1F50;
    color: #ffff;
}

::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #EB1F50;
}